@import 'styles/variaveis.scss';

.main {
    margin: 3rem 5rem;
    
    .gabriel {
        display: flex;
        justify-content: space-between;
        gap: 2.5rem;

        &__wrapper {
            align-self: flex-end;
        }

        &__paragraph {
            margin-top: 3rem;
            font-weight: 500;
            font-size: 1.3em;
            line-height: 1.2em;
            color: $grey-color;
            word-spacing: .15em;
        }

        &__list {
            display: flex;
            gap: 2rem;
            margin-top: 2rem;
        }
    }

    .projects {
        margin-top: 20rem;
    }

    .linguagens {
        margin-top: 15rem;
        
        &__container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 1rem;
            margin-top: 5rem;
        }
    }

    // .capacidades {
    //     margin-top: 10rem;
        
    //     &__wrapper {
    //         display: flex;
    //         justify-content: space-around;
    //         align-items: center;
    //         margin-top: 6rem;
    //         gap: 3rem;
    //     }

    //     &__imagemsobre {
    //         width: 350px;
    //     }

    //     &__sobre {
    //         font-size: 20px;
    //         line-height: 1.2em;
    //         max-width: 50%;
    //     }
    // }
}

.arrow {
    display: flex;
    margin: 12rem auto;
    transition: 400ms;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

@media screen and (max-width: 720px) {
    .main {
        margin: 3rem 0;
        padding: 0 1rem;
        width: 100%;

        .gabriel {
            flex-direction: column-reverse;

            &__imagem {
                max-width: 100%;
                margin: 0 auto;
            }

            &__list {
                justify-content: center;
            }

            &__paragraph {
                margin-top: 1.2rem;
                font-size: 1em;
                max-width: 100%;
            }
        }

        .projects {
            margin-top: 5rem;
        }

        // .capacidades {
        //     margin-top: 5rem;

        //     &__wrapper {
        //         margin-top: 3.5rem;
        //         flex-direction: column;
        //     }

        //     &__sobre {
        //         max-width: 100%;
        //         font-size: 16px;
        //         text-align: center;
        //         line-height: 1.2em;
        //     }
        // }
    }
}