@import 'styles/variaveis.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    &__link {
        text-decoration: none;
        line-height: 28px;
        color: $black-color;
        font-size: 1.1em;
        font-weight: 200;
        
        b {
            font-size: 1.1em;
            font-weight: 600;
        }
    }

    svg {
        font-size: 2em;
    }

    &__container-menu {
        color: $black-color;
        transition: 150ms;

        &:hover {
            color: $light-grey-color;
        }
    }
}