.link {
    font-weight: 600;
    font-size: 1em;
    color: #000;
    text-decoration: none;
    transition: 150ms;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        background-color: #1E2535;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
    }

    &:hover:after {
        width: 100%;
    }
}